body {
    font-family: 'Carme', sans-serif;
    margin: 0px;
    
}

header{
    font-family: 'Special Elite', cursive;
    
    text-align: center;
    background: #222;
    color: #eee;
    padding: 10px; 
    position: fixed;
    z-index: 999;
    width: 100%;
    overflow: hidden;
    font-size:60px;
}

header h1 {
    font-size: 90px; 
    margin-top: 30px;
}

.left { float: left;}
.right {float: right;}
.username { position: absolute; right: 50px;}
.logout { 
    position: absolute; 
    left: 50px; 
    top: 20px;
    font-size: 14px;
/*    font-family: 'Carme', sans-serif;*/
}

a:hover {color: orange;}

#days {
    height: 150px; 
}

#days a {
    font-size: 80px;
}
#days span {
/*    border: 1px solid white;*/
    padding: 50px;
    font-size: 30px;
    margin-top: 30px;
    clear: both;
    position: relative;
    top: 40px;
}

#days span:hover {
    cursor: pointer;
    background: rgba(255,155,0,.4);
}

#current {
    background: orange;
}

#page{
    padding-top: 400px;
    margin-bottom: 250px;
}

h1{
    font-size: 70px;
    margin: 0;
}

h3{
    font-size: 50px;
}

h4 {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}
#ashtray {
    font-family: 'Special Elite', cursive;
    margin-top: 30px;
}

a {
    color: white;
    text-decoration: none;
}

 

.half{
    width: 45%;
    float: left;
    
}

.container{
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    width: 650px;
}

.container h3 {
    padding: 10px;
    background: #222;
    color: #eee;
    
/*    font-size: 30px;*/
}

.container .half{
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    margin: 0 auto;
    font-size: 40px;
    padding: 10px;

    
}

#add_cig{ 
    font-size: 75px;
    text-align: center;
} 

label {
    font-family: 'Special Elite', cursive;
}

input[type="submit"]{
    clear: both;
    text-align: center;
    font-size: 75px;
    margin-top: 50px;
    font-family: 'Special Elite', cursive;
}

.login{
    width: 400px;
    
}
.login input{
    clear: both;
    width: 200px;
    margin: 10px;
    padding: 5px;
}

.login a {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}



#view_ashtray{
    clear: both;
    margin-top: 100px;
    padding-top: 100px;
      color: dimgray;
    font-family: 'Flavors', cursive;
    text-align: center;
}

#smoke_script {
    color: dimgray;
font-family: 'Flavors', cursive;
}
#smoke_script:hover { color: #222; }

@media(min-width: 1000px) { 
    
    header{
        font-size:30px;
        
    }
    header h1 {
    font-size: 50px;
}
    h3{
    font-size: 25px;
}
    #ashtray { 
    margin-top: 10px;
}
    #days {
        height: 100px;
    }
    
    #days a {
    font-size: 30px;
}
    
    #days span { 
    padding: 20px;
        border: 1px solid white;
    }
    
    
#page{
    padding-top: 240px;
    margin-bottom: 250px;
}
    
    #add_cig, input[type="submit"]{
    font-size: 25px;
    }
}